/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* common */
.container{
    width: 70%;
    margin: auto;
}

/* header */

/* header-top */
.header-top{
    background-color: lightblue;
    padding: 10px 0;

    /* test */
    height: 50px;
}
.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: goldenrod;
}
.logo, nav, .login{
    border: 1px dotted black;
    padding: 5px 0;
}
nav a{
    color: inherit;
    text-decoration: none;
}
.logo{
    width: 15%;
    padding-left: 5px;
}
nav{
    width: 70%;
    text-align: center;
}
.login{
    width: 15%;
    text-align: right;
    padding-right: 5px;
}

/* header bottom */
.header-bottom{
    background-color: #0a008b;
    display: flex;
    justify-content: center;
    align-items: center;

    /* test */
    height: 300px;
}
.jumbotron{
    width: 500px;
    height: 250px;
    background-color: #ee82ed;
    border: 2px dotted black;
}

/* main */
section:nth-child(even){
    background-color: lightgray;
}
.section-content{
    display: flex;
    align-items: center;
    padding: 25px 0;
}

.main-content{
    width: 60%;
    height: 300px;
    background-color: #1e90ff;
    border: 1px dotted black;
}
aside{
    width: 40%;
    height: 300px;
    background-color: #ffc0ca;
    border: 1px dotted black;
}

.green{
    background-color: green;
    width: 100%;
    height: 500px;
}

/* footer */
footer{
    background-color: #23272a;
}

/* footer top */
.footer-top{
    display: flex;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 15px;
}
.footer-left-content{
    width: 40%;
    height: 350px;
    background-color: #f08080;
    border: 1px dotted black;
}
.footer-right-content{
    width: 15%;
    height: 350px;
    background-color: #21b1a9;
    border: 1px dotted white;
}
hr{
    color: white;
}
/* footer bottom */
.footer-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 5px;
    background-color: aquamarine;
    margin-top: 15px;

    /* test */
    height: 50px;
}

.logo-footer, button{
    background-color: pink;
    border: 1px dotted black;
    padding: 2px 2px;
}